{% extends 'base.html.twig' %}

{% block title %}Edit Aircraft{% endblock %}

{% block body %}
    <div class="jumbotron text-center">
      <h1>Modifier Aircraft</h1>
    </div>
<div class="container">
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <a class="navbar-brand" href="{{ path('aircraft_index') }}" style="color: white;">Accueil</a>
</nav>

    {{ include('aircraft/_form.html.twig', {'button_label': 'Sauvegarder'}) }}
    {{ include('aircraft/_delete_form.html.twig') }}
    <br>
    <a class="btn btn-primary" href="{{ path('aircraft_index') }}">Retour</a>
</div>
{% endblock %}
